@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;

}

// NAVBAR
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 5rem;
    background: hsl(195, 46%, 45%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;

    .navbar{
        height: 100%;
        max-width: 1250px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        /* background: red; */
        padding: 0 50px;

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:50px;
                background: hsl(195, 46%, 25%);
                border-radius: 10px;
                
            }
            a{
                margin:10px;
                font-size: 30px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }
        }
        

        .nav-links{
            line-height: 70px;
            height: 100%;

            .sidebar-logo{
                display: none;
            }
        }

        .links{
            display: flex;
            align-items: center;
            
            li{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                padding: 0 14px;
                
                &:hover{
                    opacity: 0.8;
                    // a{
                    //     color: #fff;
                    // }
                }

                
                a{
                    height: 100%;
                    text-decoration: none;
                    white-space: nowrap;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    
                    
                }

                a:before{
                    content: '';
                    position: absolute;
                    bottom: 0.5rem;
                    left: 0;
                    height: 3px;
                    
                    background: #34efdf;
                    border-radius: 12px;
                    
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.4s ease;
                }

                a:hover:before{
                    width: 100%;
                    transform: scaleX(1);
                    transform-origin: left;
                }

                .btn{
                    // height: 100%;
                    font-weight: 500;
                    border-radius: 1.5rem;
                    background: hsl(175, 100%, 64%);
                    border: none;
                    outline: inherit;
                    font-size: 15px; 
                    padding:0.5rem 1rem;
                    margin: 0 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover,&:focus {
                    box-shadow: 0 0.5em 0.5em -0.25em hsl(175, 74%, 9%);
                    transform: translateY(-0.25em);
                    text-decoration: underline;
                    }               
                }

            }
        }
    }
    .bx-menu{
        display: none;        
    }
}

//ICONS BAR
.icon-bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
    
    a {
        border: 2px solid rgb(136, 136, 136);
        text-decoration: none;
        width: 210px;
        background: #fff;
        // color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px;
        font-size: 20px;
        transform: translateX(-170px);
        transition: all 0.5s linear;
        

        img{
            padding-left: 1rem;
            width: 2.5rem !important;
        }
    }

    .facebook {
        border-top-right-radius: 0.5rem;
    }



    .youtube {
        border-bottom-right-radius: 0.5rem;
    }


}



//HOME
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("./banner-image/bannerImage-9.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    // align-items: center;
    justify-content: center;

    .content{
        position: relative;
        width: 100%;
        text-align: center;
        // color: hsl(0, 0%, 0%);
        font-size: 40px;
        top:50px;
        font-weight: 600;

    }
}

//CONTACT
.contact{
    width: 85%;
    margin: 2rem auto;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

    .heading{
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        color:hsl(195, 46%, 45%);;

    }
    .content{
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                height: 70%;
                width: 2px;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                background: #afafb6;
            }

            .details{
                margin: 14px;
                text-align: center;
                img{
                    width:60px;
                }

                .topic{
                    font-size: 18px;
                    font-weight: 500;
                }

            }
        }

        .right-side{
            width: 50%;
            margin-left: 75px;

            img{
                max-width: 100%;
                // background-size: cover;
                // background-position: center;
            }
        }
    }
}

//FOOTER
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    background: #111;
    .bottom{
        width: 100%;
        text-align: right;
        color: #d9d9d9;
        padding: 0 40px 5px 0;

        a{
            color:hsl(175, 100%, 64%);
        }
    }


}

// MEDIA QUERIES

@media (max-width:955px){
    nav{
        .navbar{
            .bx-menu{
                display: block;
            }

            .nav-links{
                position: fixed;
                top: 0;
                left: -100%;
                display: block;
                max-width: 270px;
                width: 100%;
                background:  #3E8DA8;
                line-height: 40px;
                padding: 20px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                transition: all 0.5s ease;
                z-index: 1000;

                .sidebar-logo{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo-name{
                        font-size: 25px;
                        color: #fff;
                    }
                }
            }

            .links{
                display: block;
                margin-top: 20px;
                li{
                    display: block;
                    
                }
            }
        }

    }

    .sidebar-logo  i,
    .navbar .bx-menu{
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

    .contact{
        
        height: 100%;
    }
        .contact .content{
            flex-direction: column-reverse;
        }
        .contact .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
        }
        .contact .content .left-side::before{
        display: none;
        }
        .contact .content .right-side{
        width: 100%;
        margin-left: 0;
        }
}
